<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
          <!-- <li class="header">@lang('main navigation')</li> -->
          <li class="active"><a href=""><i class="fa fa-tachometer"></i> <span>dashboard</span></a></li>
          <li class="treeview">
          <a href="#">
          <i class="fa fa-list"></i> <span>job</span>
          <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
          </span>
          </a>
          <ul class="treeview-menu">
          <li  class=""><a href=""><i class="fa fa-circle-o"></i>manage</a></li>
          </ul>
          </li>
        </ul>
      </section>
  </aside>